h1,
main section:nth-of-type(1) a {
  color: #ffff;
}


main {
  margin: 1em;
}








section:nth-of-type(4) {
  margin: 1em;
  display: flex;
}



nav button span {
  background-color: var(--wit);
}




/*tekst onder productenlijst*/
section:nth-of-type(4) p {
  max-width: 40em;
  text-align: center;
  flex-wrap: wrap;
}

section:nth-of-type(4){
  display: flex;
  justify-content: center;
}








/* video */
video {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -10;
}

@media (min-width: 1024px) {
  video {
    position: static;
  }
}

section:nth-of-type(1) {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 15vh;
}


section:nth-of-type(1) img {
  max-width: 5em;
}

main a:nth-of-type(1) {
  text-decoration: underline;

}

main p:nth-of-type(1){
  text-align: center;
  max-width: 40em;
  justify-content: center;
  align-items: center;
  margin: 3em;
}


main p:nth-of-type(2){
  position: absolute;
  left: 1.5em;
}

main section:nth-of-type(1) img{
  display:none;
  cursor:pointer;
  position:absolute;
  left:1em;
  bottom:10em;
  max-width: 3em;
}

main h1{
  text-align: center;
}









/* filter knop */
main section:nth-of-type(2) button:nth-of-type(1){
  background: transparent;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  align-items: end;
}

main section:nth-of-type(2) ul:nth-of-type(1) button:nth-of-type(1){
  background: var(--color-text);
  border: none;
  text-decoration: none;
  cursor: pointer;
  top: 1em;
  right: 1em;
  z-index: 40;
  color: var(--wit);
  padding: 1em;
  width: 100%;
  border-radius: 0.5em;
}

main section:nth-of-type(2) ul:nth-of-type(1) {
  background-color: var(--background-color-menu);
  height: 50vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  transition: 1s ease;
  padding: 2em;
  border-radius: 2em;
  z-index: 30;
  transform: translateY(100%);
}


main section:nth-of-type(2) ul:nth-of-type(1) button:nth-of-type(1) {
  background: var(--color-text);
  border: none;
  text-decoration: none;
  cursor: pointer;
  top: 1em;
  right: 1em;
  z-index: 40;
  color: var(--wit);
  padding: 1em;
  width: 100%;
  border-radius: 0.5em;
}


main section:nth-of-type(2) ul:nth-of-type(1) {
  background-color: var(--background-color-menu);
  height: 50vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  transition: 1s ease;
  padding: 2em;
  border-radius: 2em;
  z-index: 30;
  transform: translateY(100%);
  overflow: auto;
}

main section:nth-of-type(2) ul:nth-of-type(1) li:nth-of-type(1) {
  width: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main section:nth-of-type(2) ul:nth-of-type(1) li summary{
  font-weight: 600;
}

main section:nth-of-type(2) ul:nth-of-type(1) li label:nth-of-type(1){
  margin-top: 2em;
}

main section:nth-of-type(2) ul:nth-of-type(1) li label{
  margin-top: 1em;
  display: block;
} 

main section:nth-of-type(2) ul:nth-of-type(1) h4 {
  text-align: center;
  margin: 1em;
}

main section:nth-of-type(2) ul:nth-of-type(1) li:nth-of-type(1) img {
  height: 1em;
  align-items: end;
  left: 1em;
  cursor: pointer;
  top: 1em;
  right: 1em;
}


main section:nth-of-type(2) ul:nth-of-type(1).active {
  transform: translateY(0);
} 




/* Filter categorie*/
html:has([value="tassen"]:checked) section:nth-of-type(3) ul li:not(.tassen){
  display: none;
}

html:has([value="sieraden"]:checked) section:nth-of-type(3) ul li:not(.sieraden){
  display: none;
}

html:has([value="schoenen"]:checked) section:nth-of-type(3) ul li:not(.schoenen){
  display: none;
}

html:has([value="sjalen"]:checked) section:nth-of-type(3) ul li:not(.sjalen){
  display: none;
}
html:has([value="brillen"]:checked) section:nth-of-type(3) ul li:not(.brillen){
  display: none;
}



/* Filter kleur*/
html:has([value="zwart"]:checked) section:nth-of-type(3) ul li:not(.zwart){
  display: none;
}

html:has([value="goud"]:checked) section:nth-of-type(3) ul li:not(.goud){
  display: none;
}

html:has([value="beige"]:checked) section:nth-of-type(3) ul li:not(.beige){
  display: none;
}

html:has([value="multicolor"]:checked) section:nth-of-type(3) ul li:not(.multicolor){
  display: none;
}
















/*sorteer volgens*/
main section:nth-of-type(2) button:nth-of-type(2){
  background: transparent;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  align-items: end;
  margin-left: 1em;
}

main section:nth-of-type(2) ul:nth-of-type(2) button:nth-of-type(1) {
  background: var(--color-text);
  border: none;
  text-decoration: none;
  cursor: pointer;
  top: 1em;
  right: 1em;
  z-index: 40;
  color: var(--wit);
  padding: 1em;
  width: 100%;
  border-radius: 0.5em;
}


main section:nth-of-type(2) ul:nth-of-type(2) {
  background-color: var(--background-color-menu);
  height: 40vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  transition: 1s ease;
  padding: 2em;
  border-radius: 2em;
  z-index: 30;
  transform: translateY(100%);
}

main section:nth-of-type(2) ul:nth-of-type(2) li:nth-of-type(1) {
  width: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.09em;
  border-bottom-style: solid;
  border-color: var(--footer-p);
}

main section:nth-of-type(2) ul:nth-of-type(2) li {
  margin: 1em;
}

main section:nth-of-type(2) ul:nth-of-type(2) h4 {
  text-align: center;
  margin: 1em;
}

main section:nth-of-type(2) ul:nth-of-type(2) li:nth-of-type(1) img {
  height: 1em;
  align-items: end;
  left: 1em;
  cursor: pointer;
  top: 1em;
  right: 1em;
}


main section:nth-of-type(2) ul:nth-of-type(2).active {
  transform: translateY(0);
}





section:nth-of-type(3) ul li:nth-of-type(1),
section:nth-of-type(3) ul li:nth-of-type(6),
section:nth-of-type(3) ul li:nth-of-type(11) {
  grid-column-start: 1;
  grid-column-end: -1;
}

@media (min-width: 1024px) {

  section:nth-of-type(3) ul li:nth-of-type(1),
  section:nth-of-type(3) ul li:nth-of-type(6),
  section:nth-of-type(3) ul li:nth-of-type(11) {
    grid-column: auto;
  }
}



/* sorteeren */
html:has([value="toenemend"]:checked) section:nth-of-type(3) ul li:nth-of-type(2){
  grid-column-start: 2;
  grid-row-start: 6;
}

html:has([value="toenemend"]:checked) section:nth-of-type(3) ul li:nth-of-type(3){
  grid-column-start: 2;
  grid-row-start: 2;
}

html:has([value="toenemend"]:checked) section:nth-of-type(3) ul li:nth-of-type(4){
  grid-column-start: 2;
  grid-row-start: 5;
}

html:has([value="toenemend"]:checked) section:nth-of-type(3) ul li:nth-of-type(5){
  grid-column-start: 1;
  grid-row-start: 2;
}

html:has([value="toenemend"]:checked) section:nth-of-type(3) ul li:nth-of-type(7){
  grid-column-start: 1;
  grid-row-start: 6;
}

html:has([value="toenemend"]:checked) section:nth-of-type(3) ul li:nth-of-type(8){
  grid-column-start: 1;
  grid-row-start: 3;
}

html:has([value="toenemend"]:checked) section:nth-of-type(3) ul li:nth-of-type(9){
  grid-column-start: 1;
  grid-row-start: 5;
}

html:has([value="toenemend"]:checked) section:nth-of-type(3) ul li:nth-of-type(10){
  grid-column-start: 2;
  grid-row-start: 3;
}




html:has([value="dalend"]:checked) section:nth-of-type(3) ul li:nth-of-type(2){
  grid-column-start: 1;
  grid-row-start: 2;
}

html:has([value="dalend"]:checked) section:nth-of-type(3) ul li:nth-of-type(3){
  grid-column-start: 1;
  grid-row-start: 6;
}

html:has([value="dalend"]:checked) section:nth-of-type(3) ul li:nth-of-type(4){
  grid-column-start: 1;
  grid-row-start: 3;
}

html:has([value="dalend"]:checked) section:nth-of-type(3) ul li:nth-of-type(5){
  grid-column-start: 2;
  grid-row-start: 6;
}

html:has([value="dalend"]:checked) section:nth-of-type(3) ul li:nth-of-type(7){
  grid-column-start: 2;
  grid-row-start: 2;
}

html:has([value="dalend"]:checked) section:nth-of-type(3) ul li:nth-of-type(8){
  grid-column-start: 1;
  grid-row-start: 5;
}

html:has([value="dalend"]:checked) section:nth-of-type(3) ul li:nth-of-type(9){
  grid-column-start: 2;
  grid-row-start: 3;
}

html:has([value="dalend"]:checked) section:nth-of-type(3) ul li:nth-of-type(10){
  grid-column-start: 2;
  grid-row-start: 5;
}











/*filter en sorteer knop*/

main section:nth-of-type(2){
  display:flex;
  justify-content: end;
  margin: 1em;
}








/* producten lijst */
section:nth-of-type(3) ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

@media (min-width: 1024px) {
  section:nth-of-type(3) ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

section:nth-of-type(3) ul img {
  max-width: 100%;
  height: auto;

}

section:nth-of-type(3) ul li:nth-of-type(1),
section:nth-of-type(3) ul li:nth-of-type(6),
section:nth-of-type(3) ul li:nth-of-type(11) {
  grid-column-start: 1;
  grid-column-end: -1;
}

@media (min-width: 1024px) {

  section:nth-of-type(3) ul li:nth-of-type(1),
  section:nth-of-type(3) ul li:nth-of-type(6),
  section:nth-of-type(3) ul li:nth-of-type(11) {
    grid-column: auto;
  }
}

section:nth-of-type(3) ul p,
section:nth-of-type(2) ul h3 {
  grid-column: 2;
}

section:nth-of-type(3) ul li {
  position: relative;
  display: flex;
  flex-direction: column;
}

section:nth-of-type(3)ul li img {
  order: 3;
  width: 100%;
  height: auto;
}

section:nth-of-type(3) ul li p:nth-of-type(2) {
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 1;
}

section:nth-of-type(3) ul li h3 {
  order: 1;
  text-align: center;
  margin-top: 1em;
}

section:nth-of-type(3) ul li p:nth-of-type(1) {
  order: 2;
  text-align: center;
  margin:1em;
}

section:nth-of-type(3) ul li p:nth-of-type(2) {
  position: absolute;
  top: 1em;
  left: 1em
}


section:nth-of-type(3) ul li img:hover{
  transform: scale(1.1) ;
}

section:nth-of-type(3) ul li:nth-of-type(1) img:hover,
section:nth-of-type(3) ul li:nth-of-type(6) img:hover,
section:nth-of-type(3) ul li:nth-of-type(11) img:hover {
  transform: scale(1);
}










/* 
Hamburger mag geen p in de button maar moet wel tekst hebben.
  */