
header h1, header section:nth-of-type(1) a{
  color:#ffff;
  
}

header a{
 text-decoration: underline;
}

main{
  margin: 1em;
}

p{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-wrap: wrap;
}

a{
  color: var(--color-text);
}


header{
  position:relative;
  overflow:hidden;
  height: 100vh;
}


video{
width:100%;
height:80vh;
object-fit:cover;
position:absolute;
top:0;
left:0;
bottom: 0;
z-index: -10;
}



section:nth-of-type(3){
  margin: 1em;
}









/* filter en sorteer knop */
main button{
  background: transparent;
  border: none;
  text-decoration: underline;
  cursor:pointer;
  position:relative;
}

/* main ul:nth-of-type(2){
  background-color: var(--background-color-menu);
  height:80vh;
  width: 100%;
  max-width: 100%;
  position:fixed;
  top: 0;
  right: 100%;
  transition: 1s ease;
  padding: 2em;
  border-radius: 2em;
  }

  main button:nth-of-type(1).active{
    position:fixed;
  }
  
  main button:nth-of-type(1).active{
    left: 0;
  } */










/* producten lijst */
section:nth-of-type(2) ul{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}

@media (min-width: 1024px) {
  section:nth-last-of-type(2) ul{
    grid-template-columns: repeat(3, 1fr);
  }

  video{
    position:static;
  }
}

section:nth-of-type(2) ul img {
  max-width: 100%;
  height: auto;

}

section:nth-of-type(2) ul li:nth-of-type(1),
section:nth-of-type(2) ul li:nth-of-type(6),
section:nth-of-type(2) ul li:nth-of-type(11) {
  grid-column-start: 1;
  grid-column-end: -1;
}

@media (min-width: 1024px) {

  section:nth-last-of-type(2) ul li:nth-of-type(1),
  section:nth-of-type(2) ul li:nth-of-type(6),
  section:nth-of-type(2) ul li:nth-of-type(11) {
    grid-column: auto;
  }
}

section:nth-of-type(2) ul p, section:nth-of-type(1) ul h3{
grid-column:2;
}

section:nth-of-type(2) ul li{
position:relative;
display: flex;
flex-direction: column;
align-items: center; 
}

section:nth-of-type(2)ul li img{
  order: 3;
  width: 100%;
  height:auto;
}

section:nth-of-type(2) ul li p:nth-of-type(2){
 justify-content: flex-start;
 align-items: flex-start;
 z-index: 1;
}

section:nth-of-type(2) ul li h3{
  order:1;
  text-align: center;
  margin-top: 1em;
}

section:nth-of-type(2) ul li p:nth-of-type(1){
order:2;
text-align: center;
}

section:nth-of-type(2) ul li p:nth-of-type(2){
  position:absolute;
  top:1em;
  left: 1em
}













/* 
Er mist een span bij het hamburger menu.
De h1 en de a krijg ik niet in het midden.
De linkjes in de tekst onderaan doen raar. 
In de html heb ik een error die zegt dat ik een label nodig heb,
  maar ik heb al een label.
De list style bij de details wil niet weg.
Hamburger mag geen p in de button maar moet wel tekst hebben.
Moet ik alles linken naar de echte dior pagina of kunnen het gewoon dode linkjes blijven.
  */