/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}





/* Dior font */
@font-face {
  font-family: 'Atacama';
  src: url('/fonts/AtacamaVAR-VF.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
}


/* Light (300) */
@font-face {
  font-family: 'Hellix';
  src: url('/fonts/hellix-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

/* Regular (400) */
@font-face {
  font-family: 'Hellix';
  src: url('/fonts/hellix-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

/* Medium (500) */
@font-face {
  font-family: 'Hellix';
  src: url('/fonts/hellix-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

/* Semi-Bold (600) */
@font-face {
  font-family: 'Hellix';
  src: url('/fonts/hellix-semi-bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

/* Bold (700) */
@font-face {
  font-family: 'Hellix';
  src: url('/fonts/hellix-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}




/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  color-scheme: light dark;
  --color-text: light-dark(#373C40, #F8F8F8);
  --color-background: light-dark(#F8F8F8, #373c40);
  --background-color-menu: light-dark(#FFFFFF,#040404);
  --wit: #ffffff;
  --zwart: #040404;
  --footer-p: #7c868d;
}


/****************/
/* JOUW STYLING */
/****************/

/*darkmode*/
@media (prefers-color-scheme:dark){
  nav button.active span{
    background-color: var(--wit) !important;
  }
  main section:nth-of-type(3) img{
    filter: brightness(80%);
  }
}












/* jouw code */
body {
  background-color: var(--color-background);
  color: var(--color-text);
}

li {
  list-style: none;
}

h1,
footer h3 {
  font-family: Atacama, Arial;
}


h3,
p,
li,
a,
button,
footer details,
form,
footer li:nth-of-type(1) h3,
footer li:nth-of-type(2) h3,
footer li:nth-of-type(3) h3 {
  font-family: Hellix, Arial;
}

footer p,
footer details {
  color: var(--footer-p);
}


a {
  color: var(--color-text);
}

h3 {
  font-size: 1em;
  font-weight: 500;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* bron: https://www.a11yproject.com/posts/how-to-hide-content/ */
















/* Hamburgermenu */
header{
  position: absolute;
  z-index: 999;
  left:0;
  right:0;
  top:0;
}


nav{
  z-index: 40;
}
nav ul {
  background-color: var(--background-color-menu);
  height: 95vh;
  width: 100%;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: 100%;
  transition: 1s ease;
  padding: 2em;
  border-radius: 2em;
}


nav button {
  height: 2em;
  width: 2em;
  position: relative;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  order: -2;
}

nav button span {
  height: 0.2em;
  width: 100%;
  border-radius: 2em;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease;
}

nav button span:nth-of-type(1) {
  top: 25%;
}

nav button span:nth-of-type(2) {
  top: 75%;

}

nav button.active {
  position: fixed;
}

nav button.active span:nth-of-type(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: var(--zwart);
}

nav button.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: var(--zwart);
}

nav ul.active {
  left: 0;
}

nav li:nth-of-type(1){
  margin-top: 2em;
  padding-top: 1em;
  border-top: 0.09em;
  border-top-style: solid;
  position: relative;
  border-color: var(--footer-p);
}

nav li{
  margin-bottom:1em;
}

nav a{
  text-decoration: none;
}

nav ul img{
  max-width: 1em;
  rotate:270deg;
  position: absolute;
  right:1em;
}












/* header iconen */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

nav img {
  height: 1em;
}

nav img:nth-of-type(1) {
  height: 2em;
  margin: auto;
}

nav img:nth-of-type(2) {
  order: -1;
  justify-content: start;
  margin: 1em;
}

nav img:nth-of-type(3),
nav img:nth-of-type(4),
nav img:nth-of-type(5) {
  display: flex;
  align-items: center;
  margin: 1em;
}








/* footer */

footer {
  background-color: var(--background-color-menu);
  margin: 2em;
  padding: 1em;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
}

footer > img{
  display: flex;
  justify-content: center;
  width: 8em;
}



footer ul:nth-of-type(1) li:nth-of-type(1),
footer ul:nth-of-type(1) li:nth-of-type(2),
footer ul:nth-of-type(1) li:nth-of-type(3) {
  border-bottom: 0.09em;
  border-bottom-style: solid;
  border-color: var(--footer-p);
  padding-bottom: 1em;
  margin-top: 1em;
}

footer ul:nth-of-type(1) li:nth-of-type(1) p,
footer ul:nth-of-type(1) li:nth-of-type(2) p,
footer ul:nth-of-type(1) li:nth-of-type(3) p{
  margin-right:1.2em;
}

footer ul:nth-of-type(1) li:nth-of-type(3) {
  margin-bottom: 2em;
}

footer ul:nth-of-type(1) li:nth-of-type(1) img,
footer ul:nth-of-type(1) li:nth-of-type(2) img,
footer ul:nth-of-type(1) li:nth-of-type(3) img,
footer> p img {
  height: 0.9em;
  cursor: pointer;
  rotate: 270deg;
}

footer ul:nth-of-type(2),
footer ul:nth-of-type(3) {
  margin-bottom: 2em;
  margin-top: 2em;
}

footer ul:nth-of-type(2) li p,
footer ul:nth-of-type(3) li p {
  margin-top: 1em;
}

footer ul:nth-of-type(4) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2em;
  margin-top: 1em;
  border-top: 0.09em;
  border-top-style: solid;
  border-color: var(--footer-p);
  justify-content: center;
  gap: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
}

footer button {
  background: var(--color-text);
  border: none;
  text-decoration: none;
  cursor: pointer;
  top: 1em;
  right: 1em;
  z-index: 40;
  color: var(--wit);
  padding: 1em;
  width: 50vw;
  border-radius: 0.5em;
  margin-top: 1em;
}

footer form label {
  margin-top: 1em;
  display: flex;
  flex-direction: column;

}

footer form input {
  border-radius: 0.5em;
  margin-top: 0.5em;
  max-width: 50vw;
  height: 2.5em;
}

footer details {
  border: none;
}




/*land/regio*/
footer>h3:nth-of-type(4) {
  border-top: 0.09em;
  border-top-style: solid;
  border-color: var(--footer-p);
  padding-top: 1em;
  margin-top: 1em;
}



footer ul li p {
  display: flex;
}










/* Uitklap tekstjes */
details {
  border-top: 0.09em;
  border-top-style: solid;
  padding: 1em;
  position: relative;
  border-color: var(--footer-p);
}


details summary img {
  height: 0.9em;
  position: absolute;
  right: 1em;
  cursor: pointer;
}

details[open] summary img {
  rotate: 180deg;
  transition: 1s ease;
}


summary {
  list-style-type: none;
}

details p {
  margin-top: 1em;
}





/* scrollbar */
  /* ul::-webkit-scrollbar{
    height: 2em;
    color: aqua;
  } */
